* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}
.Title {
    padding: 30px 40px 20px 40px;
}

.TitleBorder {
    display: block;
    height: 2px;
    border: none;
    background: linear-gradient(90deg, #ade8fd88, #fff);
}

@media(min-width:651px) { /* Desktop */
    .Main {
        width: 60%;
        max-width: 800px;
        margin: 50px auto;
        font-size: 14px;
        border-radius: 20px;
        box-shadow: 0 0px #e5e5e5, 0 0 15px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.05);
    }
}
@media(max-width:650px) { /* Mobile */
    .Main {
        width: 100%;
        font-size: 14px;
    }
}


.Block {
    padding: 0 40px;
    margin: 20px 0;
}

.Footer {
    padding: 20px 0;
    background: linear-gradient(180deg, white, #fafafa);
    border-radius: 0 0 20px 20px;
}

.Copyright {
    font-size: 12px; text-align: center; line-height: 25px; color: #ccc;
}

.Input {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 50px;
    opacity: 0;
}

.InputButton {
    position: relative;
    border: 1px dashed #ddd;
    width: 100%; height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
}

.InputButton:hover {
    background-color: #fafafa;
}

.InputButtonLabel {
    color: #666;
    font-size: 12px;
    text-align: center;
}

canvas {
    display: block;
    width: 100%;
}

.InfoLeft  { text-align: right; font-weight: bold; }
.InfoRight { text-align: left; }

.ProcessbarContainer {
    position: relative;
    width: 100%;
    /* border: 1px solid #00aaff; */
    background-color: #eee;
    border-radius: 100px;
    height: 5px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}
a:hover{
    color: #0066dd;
    text-decoration:none;
    border-bottom: 1px solid #0066dd;
}

button {
    height:30px; line-height: 30px; font-size: 14px; border: none; border-radius: 5px;
    color: #00aaff; border: 1px solid #e1f5ff; background-color: #e1f5ff; padding: 0 10px; }
button:hover { color: #00aaff; background-color: #cdeeff; border: 1px solid #cdeeff; }
button:active { color: #ffffff; background-color: #40bfff; border: 1px solid #40bfff; }
button:disabled { color: #888888; background-color: #eeeeee; border: 1px solid #eeeeee; }