:root {
    --InputButtonHeight: 150px;
}

* {
    outline: none;
}

body {
    font-family: Microsoft YaHei, "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.Title {
    padding: 30px 40px 0px 40px;
}

.Border {
    display: block;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, #fff, #eee, #fff);
}

@media(min-width:651px) { /* Desktop */
    .Main {
        width: 60%;
        max-width: 600px;
        margin: 50px auto;
        font-size: 14px;
        border-radius: 20px;
        box-shadow: 0 0px #e5e5e5, 0 0 15px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.05);
    }
}
@media(max-width:650px) { /* Mobile */
    .Main {
        width: 100%;
        font-size: 14px;
    }
}


.Block {
    padding: 0 40px;
    margin: 20px 0;
}

.Footer {
    padding: 20px 0;
    background: linear-gradient(180deg, white, #fafafa);
    border-radius: 0 0 20px 20px;
}

.Copyright {
    font-size: 12px; text-align: center; line-height: 25px; color: #ccc;
}

.Switch {
    position: relative;
    display: inline-block;
    border: 0.5px solid #ddd;
    background-color: #ccc;
    border-radius: 100px;
    width: 36px;
    height: 20px;
}

.SwitchSlider {
    position: absolute;
    left: 0px;
    width: 14px; height: 14px;
    margin: 3px;
    border: none;
    border-radius: 100%;
    background-color: #fff;
}

.Input {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: var(--InputButtonHeight);
    opacity: 0;
}

.InputButton {
    position: relative;
    border: 1px dashed #ddd;
    width: 100%; height: var(--InputButtonHeight);
    line-height: var(--InputButtonHeight);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.InputButton:hover {
    background-color: #00000005;
}

.InputButtonLabel {
    width: 100%;
    color: #666;
    font-size: 12px;
    text-align: center;
}

.Osc {
    display: block;
    height: var(--InputButtonHeight);
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

.InfoLeft  { text-align: right; font-weight: bold; }
.InfoRight { text-align: left; }

.ProcessbarContainer {
    position: relative;
    padding: 0; 
    width: 100%;
    margin: 0 auto;
    background-color: #eee;
    border: none;
    border-radius: 100px;
    height: 5px;
    overflow: hidden;
}

.Done {
    background-color: #6bdd00;
    cursor: pointer;
}
.Done:hover {
    background-color: #5dbe02;
    cursor: pointer;
}

.Timer {
    color: #888; font-size: 14px; font-family: 'consolas', Courier, monospace;
}

.NoteContainer {
    text-align: center;
}

.NoteTitle {
    width: fit-content;
    text-align: center;
    margin: 20px auto 10px auto;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
}
.NoteTitle:after {
    content: "";
    display: block;
    border-bottom: 7px solid rgb(159, 223, 255);
    position: relative;
    top: -7px;
    z-index: -1;
}

.Note {
    text-align: center;
    color: #aaa;
    margin: 10px 0;
    font-size: 13px;
    line-height: 19px;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}
a:hover{
    color: #0066dd;
    text-decoration:none;
    border-bottom: 1px solid #0066dd;
}

.PlayButton {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    height:30px; line-height: 30px; font-size: 14px; border: none; border-radius: 5px;
    color: #00aaff; background-color: #e1f5ff; padding: 0;
    cursor: pointer;
}
.PlayButton:hover { color: #00aaff; background-color: #cdeeff;}
.PlayButton:active { color: #ffffff; background-color: #40bfff;}
.PlayButton[disabled] { color: #888888; background-color: #eeeeee;}