body {
    margin: 0;
    padding: 0;
}
.Title {
    font-size: 18px; margin: 20px 0; color: #222; font-weight: bold; line-height: 40px; padding: 0 20px;
}
@media(min-width:651px) { /* Desktop */
    .Main {
        width: 60%;
        max-width: 800px;
        margin: 50px auto;
        font-size: 14px;
    }
}
@media(max-width:650px) { /* Mobile */
    .Main {
        width: 100%;
        font-size: 14px;
    }
}


.Block {
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 2px 0 rgba(64,64,64,0.1), 0 1px 3px 1px rgba(64,64,64,0.3); */
    padding: 10px 20px;
    margin: 10px 0;
}
canvas {
    display: block;
    margin: 20px auto;
    width: 100%;
}
table {
    font-size: 14px;
    margin: 20px auto;
}
.InfoLeft  { text-align: right; font-weight: bold; }
.InfoRight { text-align: left; }

.ProcessbarContainer {
    position: relative;
    width: 100%;
    border: 1px solid #00aaff;
    height: 25px;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}
a:hover{
    color: #0066dd;
    text-decoration:none;
    border-bottom: 1px solid #0066dd;
}

button {
    height:30px; line-height: 30px; font-size: 14px; border: none; border-radius: 5px;
    color: #00aaff; border: 1px solid #e1f5ff; background-color: #e1f5ff; padding: 0 10px; }
button:hover { color: #00aaff; background-color: #cdeeff; border: 1px solid #cdeeff; }
button:active { color: #ffffff; background-color: #40bfff; border: 1px solid #40bfff; }
button:disabled { color: #888888; background-color: #eeeeee; border: 1px solid #eeeeee; }